<% if entry.gap? %>
  <tr class="gap">
    <td colspan="7">Take a break? Cool. Otherwise, update your timesheet</td>
  </tr>
<% elsif entry.overlap? %>
  <tr class="overlap">
    <td colspan="7">There is an overlap in your timesheet! Please review it and make the proper changes</td>
  </tr>
<% else %>
  <tr id="entry_row_<%= entry.id %>">
    <td><%= entry.entry_date %></td>
    <td><%= entry.start_time %></td>
    <td><%= entry.end_time %></td>
    <td><%= entry.hours %></td>
    <td><%= entry.project.name %></td>
    <td><%= entry.description %></td>
    <td><%= link_to "Edit", edit_entry_url(entry), remote: true %> |
      <%= link_to "Delete", destroy_entry_url(entry), data: { confirm: 'Are you sure?' },  method: :post %></td>
  </tr>
<% end %>
