<% if @entry.errors.any? %>
  <section id="errors">
    <h2>Oops!</h2>
    <h3>
      Please fix the following <%= pluralize(@entry.errors.size, "error") %>:
    </h3>
    <ol>
      <% @entry.errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ol>
  </section>
<% end %>


