<%= form_for @entry, html: { class: "form-inline" },
  url: {action: 'create', controller: 'entries'}, remote: false do |f| %>
  <div class="form-group">
    <%= f.label      :date %>
    <%= f.text_field :date %>
  </div>
  <div class="form-group">
    <%= f.label      :start_time %>
    <%= f.text_field :start_time %>
  </div>
  <div class="form-group">
    <%= f.label      :end_time %>
    <%= f.text_field :end_time %>
  </div>
  <div class="form-group">
    <%= f.label      :description %>
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <%= f.label      :project %>
    <%= f.collection_select :project_id, @projects, :id, :name,
      prompt: "Select a Project" %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
