<tr id="entry_row_form_<%= entry.id %>">
<%= form_for entry, url: {action: 'update', controller: 'entries'}, remote: true do |f| %>
      <%= f.hidden_field :id,        form: "edit_entry_#{entry.id}" %>
  <td><%= f.text_field   :date,      form: "edit_entry_#{entry.id}", value: entry.start_time.strftime("%m/%d/%Y") %></td>
  <td><%= f.text_field   :start_time,form: "edit_entry_#{entry.id}" %></td>
  <td><%= f.text_field   :end_time,  form: "edit_entry_#{entry.id}" %></td>
  <td>---</td>
  <td>
    <select name="entry[project_id]" form=<%= "edit_entry_#{entry.id}" %>>
      <%=options_from_collection_for_select(Project.all, :id, :name) %>
      </select>
  </td>
  <td><%= f.text_field :description, form: "edit_entry_#{entry.id}" %></td>
  <td><%= submit_tag   "Done",     form: "edit_entry_#{entry.id}" %></td>
<% end %>
</tr>
