<div class="blk">
  <% render 'entries/errors', locals: {entry: @entry} %>
</div>

<div class="blk">
  <%= render 'date_select_form' %>
</div>

<div class="blk blk_withLGap">
  <h2>Create a new entry</h2>
  <%= render 'entries/form' %>
</div>

<div class="blk">
  <% if @entries.size.zero? %>
    <h2 class="centered">You don't have any entries logged for this week</h2>
  <% else %>
    <table id="entries">
      <% @entries.each do |day, entry_set| %>
        <tr>
          <td class="day" colspan="7"><%= day %></td>
        </tr>
        <tr>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Hours</th>
          <th>Project</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        <% entry_set.each do |entry|%>
          <%= render entry %>
        <% end %>
      <% end %>
  </table>
  <% end %>
</div>
