// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  vertical-align: center;
}

th {
}

.day {
  background-color: #4CAF50;
  color: white;
  height: 10px;
  padding: 5px;
}

.gap {
  padding: 3px;
  background-color: #FFFCCC;
}

.overlap {
  padding: 3px;
  background-color: #990000;
  color: white;
}
